extends ../basic.pug
block content
    .container.mt-3
        nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.mb-3
            a.navbar-brand(href='#') Logo
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='#') Link 1
                li.nav-item
                    a.nav-link(href='#') Link 2
                li.nav-item.dropdown
                    a#navbardrop.nav-link.dropdown-toggle(href='#', data-toggle='dropdown') Dropdown link
                    .dropdown-menu
                        a.dropdown-item(href='#') Link 1
                        a.dropdown-item(href='#') Link 2
                        a.dropdown-item(href='#') Link 3
                li.nav-item
                    a.nav-link(href='#') Giỏ hàng
                        if cart != 0
                            p.text-warning(style="position: absolute; bottom:5px; right:690px;")= cart





        nav(aria-label='...')
            ul.pagination
                if checkPrevious == 1
                    li.page-item.disabled
                        span.page-link Previous
                else
                    li.page-item
                        a.page-link(href=`/products?page=${pageCurrent-1}`) Previous
                -let i = 1
                while i <= pages
                    li.page-item
                        a.page-link(href=`/products?page=${i}`)= i++

                if checkNext == 1
                    li.page-item.disabled
                        a.page-link(href='#') Next
                else
                    li.page-item
                        a.page-link(href=`/products?page=${pageCurrent+1}`) Next


        .row
            each val in users
                .col-sm-4
                    img(src=`${val.img}`,style="width:300px; height:300px;")
                    h1= val.name
                    .btn.btn-success.mr-2 Buy Now
                    a.btn.btn-danger(href="/cart/" + val.id) Add To Cart



